language: ruby
rvm:
  - 2.6.3

before_script:
  - chmod +x ./script/cibuild # or do this locally and commit

install: bundle install
script: ./script/cibuild

# branch whitelist, only for GitHub Pages
branches:
  only:
    - develop
    - main

addons:
  apt:
    packages:
      - libcurl4-openssl-dev

cache: bundler # caching bundler gem packages will speed up build

# Optional: disable email notifications about the outcome of your builds
notifications:
  email: false