<nav class="navbar fixed-bottom navbar-light bg-light position-relative mb-n3 mx-n3  mb-4"  style="background: #A6A6A6">
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <a href="http://incubator.apache.org/">
                <img src="{{ site.url }}{{ site.baseurl }}{{ "assets/img/egg-logo.png" | relative_url }}">
            </a>
            <br />
            <p style="text-align: justify">
                Apache Wayang is an effort undergoing Incubation at The Apache Software Foundation (ASF), sponsored by the Incubator. Incubation is required of all newly accepted projects until a further review indicates that the infrastructure, communications, and decision making process have stabilized in a manner consistent with other successful ASF projects. While incubation status is not necessarily a reflection of the completeness or stability of the code, it does indicate that the project has yet to be fully endorsed by the ASF.
            </p>

            <p>
                Copyright &#169; 2021 The Apache Software Foundation.<br />
                Licensed under the Apache License, Version 2.0.<br />
                Apache, the Apache Feather logo, and the Apache Incubator project logo are trademarks of The Apache Software Foundation.
            </p>
        </div>
    </div>

</nav>